{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}Spouse - {{ member.full_name }}{% endblock %}
{% block page_title %}Spouse of {{ member.full_name }}{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="card">
    <div class="card-body"><div class="row">
      {{ field(form.first_name, 6) }}{{ field(form.last_name, 6) }}
      {{ field(form.dob, 4) }}{{ field(form.gender, 4) }}{{ field(form.phone, 4) }}
      {{ field(form.email, 6) }}{{ field(form.occupation, 6) }}
      {{ field(form.photo, 6) }}
    </div></div>
    <div class="card-footer">
      {{ form.submit(class="btn btn-success") }}
      <a href="{{ url_for('members.member_detail', member_id=member.id) }}" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
