{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}{{ 'New' if is_new else 'Edit' }} Class{% endblock %}
{% block page_title %}{{ 'New' if is_new else 'Edit' }} Friday School Class{% endblock %}
{% block content %}
<form method="post"><div class="card" style="max-width:720px;">
  {{ form.hidden_tag() }}
  <div class="card-body"><div class="row">
    {{ field(form.name, 8) }}{{ field(form.age_group, 4) }}
    {{ field(form.teacher_id, 6) }}{{ field(form.assistant_teacher_id, 6) }}
  </div></div>
  <div class="card-footer">
    {{ form.submit(class="btn btn-success") }}
    <a href="{{ url_for('friday_school.classes') }}" class="btn btn-outline-secondary">Cancel</a>
  </div>
</div></form>
{% endblock %}
